*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.body
{
    width:100%;
    height:100%;
    
}

#home
{
   
  font-family: Arial, sans-serif;
  background: url(img/body.jpg) no-repeat;
  background-size: cover;
  height:auto;
  
    }
#searchString{
	width:30%;
	height:40px;
	
	float:left;
	margin-left:5%;
	margin-top:-2%;
}
#submit{
	position:relative;
	margin-left:38%;
	margin-top:-4%;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	box-shadow:none;
	border:1px solid rgba(0,0,0,0,2);
	font-weight:bold;
	font-size:14px;
	color:#fff;
	background:rgb(255,53,53);
	font-weight:bold;
	text-shadow:none;
	box-shadow:none;
}
.brand
{
        margin-top:-1%;
    }
.text
{
 
	margin-left:8%;
	margin-top:3%;
	border:none;
	width:20%;
	color:rgb(255,53,53);
	font-weight:bold;
	font-size:30pt;
}
 .hero-unit
 {
     background: rgb(15,14,12);
      width:100%;
       height:20%;
       margin-bottom:0%;
     }
 .container1{
	background-color:rgb(212,212,212);
	float:left;
	overflow:auto;
	height:350px;
	width:20%;
	margin-left:10%;
    border:2px solid black;
	margin-top:5%;
 }

   #map1 {
		
            width:64%;
            height:40em;
           float:right;
            padding:10px;
			margin-left:3%;
			margin-top:5%;
            }
        #TextArea1
        {
            width: 789px;
        }
     .style1
     {
         width: 40%;
         top: 181px;
         left: 691px;
     }
     .style2
     {
         width: 902px;
     }
     #Select1
     {
         width: 223px;
         height: 25px;
     }
	 .navbar{
	
	border-bottom: 1px solid rgba(255,255,255,0,2);
}
.navbar-inner{
	padding:40px 0;
	border:none;
	box-shadow:none;
	min-height:100px;
	background:transparent;
}
#social{
	clear:both;
	margin-bottom:40px;
}
.footer-links{
	list-style:none;
	margin-top:2%;
	}
.footer-links li a{
	color:rgb(255,53,53);
	font-weight:bold;
	display:inline-block;
}
.footer-links li {
	float:left;
	margin-left:20%;
	margin-bottom:40px;
}
footer{
	position:relative;
	padding:40px 0;
	background:rgb(15,14,12);
	padding-top:0px;
	margin-top:5%;
}
#social{
	clear:both;
	margin-bottom:40px;
}
.twitter{
	background:#569ccd;
	text-shadow:none;
	box-shadow:none;
	margin-right:5px;
	border:none;
}
.facebook{
	background:#2272a9;
	text-shadow:none;
	box-shadow:none;
	border:none;
}
.facebook:hover, .facebook:focus{
	background:#20699c;
}
.twitter:hover, .twitter:focus{
	background:#4f91bf;
}
.social-sprite{
	height:16px;
	width:16px;
	display:inline-block;
	background:transparent url(img/social-sprite.png);
	background-position:top left;
}
.table{
	display:table;
	margin:0 auto;
}

.btn {
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	box-shadow:none;
	border:1px solid rgba(0,0,0,0,2);
	font-weight:bold;
	font-size:14px;
	color:#fff;
	margin-top:9px;
}
.row{
	margin-top:12%;
}

.video{
	background:red;
}
.list-group{
	list-style:circle;
	color:black;
	margin-left:25px;
}
.list-group-item{
	line-height:200%;
	border:1px solid rgb(188,188,188);
	padding-left:5px;
}

.form{
	margin-top:-2%;
	margin-left:8%;

}
#list
{
    position:relative;
	overflow:auto;
	float:left;
    margin-left:auto;
	height:80%;
    width:50%;
}

#map
{
  
	position:relative;
	overflow:auto;
	height:80%;
	width:50%;
	float:right;
	background:white;
}
.pre
.row {
  margin: 0 !important;
}

.selectedOption {
  width: 300px;
  display: inline-block;
}

ui-virtual-list {
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  display: block;
}

ui-virtual-list .canvas {
  background-color: #eee;
  position: relative;
}

ui-virtual-list div.renderer {
  display: block;
  width: 100%;
  cursor: pointer;
  position: absolute;
  height: 30px;
  line-height: 30px;
}

ui-virtual-list div.renderer span {
  margin-left: 10px;
}

ui-virtual-list div.renderer.selected {
  background-color: #ccc;
}

ui-virtual-list div.renderer:hover {
  background-color: #666;
  color: white;
}
.maintext{
	margin-left:43%;
	margin-top:18%;
	color:rgb(255,53,53);
}
.mainForm{
	margin-left:35%;
}
#mainsearchString{
	height:40px;
	width:40%;
	
}
#mainSubmit{
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	box-shadow:none;
	border:1px solid rgba(0,0,0,0,2);
	font-weight:bold;
	font-size:14px;
	color:#fff;
	background:rgb(255,53,53);
	font-weight:bold;
	text-shadow:none;
	box-shadow:none;
	margin-left:15%;
}
.header
{
     background: rgb(15,14,12);  
    position:absolute; 
   
 }
 
 #list li
 {
    border: 1px dashed grey;  
    padding:13px;    
 }

 h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 100px;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  background: #06D85F;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 0.2s;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}

.overlay:target:before {
    display: none;
}
.overlay:before {
  content:"";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 9;
}
.overlay .popup {
  background: #fff;
  border-radius: 5px;
  width: auto;
  position: fixed;
  top: 0;
  height:auto;
  margin-left:30%;
  margin-top:15%;
  z-index: 10;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.overlay:target .popup {
    top: -100%;
    left: -100%;
}

.content img
{
        position:relative;
        
    }
@media screen and (max-width: 768px){
  .box{
    width: 70%;
  }
  
}

 .contains
 {
        position:relative;
        padding-top:1%;
     }
       @media screen and (max-width: 1360px) {
/* applies only if the screen is narrower than 1360px */
  #searchString
  {
      position:relative;
      margin:2%;
        width:100%;
      }
   .brand
   {
       margin-top:-15%;
    }
    #submit
    {
        position:relative;
        margin-top:2%;
        }
        
}
 @media screen and (max-width: 760px) 
 {
       #mainSearchstring
       {
            min-width:15em;
           }
     }
  